.loading{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%,var(--accent1));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-zp9dbg 1s infinite linear;
}

.loading h2{
    margin: 20px 0px;
    color: var(--accent2);
}

@keyframes spinner-zp9dbg {
   to {
      transform: rotate(1turn);
   }
}