@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --background1: #eff6e0;
  --background2: #598392;
  --accent1: #124559;
  --accent2: #01161e;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

.App{
  min-height: 100vh;
  background-color: var(--background2);
}
